/* Turn on a 13x13 scrollbar */
::-webkit-scrollbar {
    width: 18px;
    height: 13px;
}


/* Area de botones */

#area_botones {
    margin-top: 5px;
    float:left;
	width: 250px;
    height:445px;
    padding-top: 5px;
    background-color: black;
}

.botones{
    width: 240px;
    height:30px;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 7px;
    padding-top: 8px;
    margin-left: 4px;   
    background: url(images/producto.jpg) repeat-x left top;
    cursor: pointer;
}

.botones:hover{
    background: url(images/hover.jpg) repeat-x left top;
}

/* Area del boton de Ayuda */

#area_boton_ayuda {
    float:left;
	width: 120px;
    height:50px;
}

