{% extends "SistemaVentas/base.html" %}


{% block css %}
    <link href="/templates/SistemaVentas/vista_ayuda/vista_ayuda.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock css %}

{% block parametros_body %} onload="main()" onkeyup="captura_de_tecla_global(event);" {% endblock %}

{% block menu %}
<ul>
    <li class="current_page_item"><a>Ayuda al menu de Cerrar Caja</a></li>
</ul>
{% endblock menu %}

{% block contenido %}

<div id="area_paginas">
    <p> paginas de ayuda </p>
</div>

<div id="area_boton_regreso">
    <div class = "boton_accion"
	     onclick="javascript:window.location='caja/cerrar'">
		<label>
            Regresar
        </label>
    </div>
</div>

{% endblock contenido %}
