<%# Recibe una lista de productos %>

<div class ="MasVendidos" title="Productos más vendidos">

    <% if(this.length > 0) { %>

        <div class = "ListaProductosHorizontal">
            <% this.each(function(index, producto) { %>
                <%== $.View('//'+CONTROLLERS + 'ventas/ventas/views/producto.ejs', producto )%>
            <% }); %>
        </div>

    <% } else { %>
        <p> No hay productos para mostrar </p>
    <% } %>

</div>