<div
    class ="BuscarProductos" 
    title='Area para buscar un producto por su nombre.
Uso:
- "Alt + P" para enfocar el campo de texto.
- Escribe parte del nombre del producto.
- Si presionas "Enter" el producto con el marco amarillo sera agregado a la lista de compra.
- Puedes hacer click en algun producto para agregarlo.'
>

    <label>Buscar Productos:</label>
    <input type="text" class="buscar seleccionado" autocomplete="off"/>

    <div id="prod_buscados" class="ListaProductosVertical"></div>
</div>