<div class ="cliente escondible escondido"
     title="Esta es la informacion del cliente a nombre de quien se hara la venta.

Si no es el Cliente que buscas intenta introducir su cedula correctamente.
Si aun asi no lo encunetras es posible que no este en el sistema, introduce una cedula falsa y aparecerá el campo para agregar un nuevo usuario.">

    <table border = '0'>
        <tr>
            <td>
                <label>Nombre:</label>
            </td>
            <td class='nombre'>
                NOMBRE Y APELLIDO
            </td>
        </tr>

        <tr>
            <td>
                <label>Cedula:</label>
            </td>
            <td class='cedula'>
                00.000.000
            </td>
        </tr>

        <tr>
            <td>
                <label>Carnet:</label>
            </td>
            <td class='carnet'>
                00-00000
            </td>
        </tr>

        <tr>
            <td>
                <label>Carnet:</label>
            </td>
            <td class='saldo'>
                000.00
            </td>
        </tr>
    </table>

</div>