<div class="Clientes">
    <label class="titulo"> Titulo A</label>
    Cliente A
<div>

<div class="configuracion_pago">
    <label class="titulo"> Titulo B</label>
    <table>
        <tr>Fila 1</tr>
        <tr><label>Fila 2</label></tr>
    </table>
</div>