<div class="registrar_cliente escondible"
     title='Area para agregar un nuevo cliente, una vez hagas la venta este cliente será introducido al sistema.
Uso:
- Rellena los datos del formulario.
- Si los datos no son validos no se efectuara la venta.'>

    <label><b> Registar Cliente: </b></label>

    <table border = "0">
        <tr>
            <td>
                <label>Nombre:</label>
            </td>
            <td>
                <input type="text" id="nombre"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>Cedula:</label>
            </td>
            <td>
                <input type="text" id="cedula"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>Carnet:</label>
            </td>
            <td>
                <input type="text" id="carnet"/>
            </td>
        </tr>
    </table>
    
</div>