<!-- Recibe nombre, una lista de objetos y la lista de atributos a mostrar -->

<div id="area_listado_<%= nombre %>">
	<% if(objetos.length > 0) { %>
	    <table>
	        <tr>
		        <% atributos.forEach( function(atributo, j) { %>
		            <td class="columna_<%= atributo %>">
		                <label>
		                	<% if (atributo == "imagen") { %>
		                		Imagen
	                		<% } else if (atributo == "nombre") { %>
							    Nombre
						    <% } else if (atributo == "proveedor") { %>
						    	Proveedor
			                <% } else if (atributo == "cantidad") { %>
							    Cantidad
			                <% } else if (atributo == "precio") { %>
							    Precio
						    <% } else if (atributo == "descripcion") { %>
						    	Descripción
					    	<% } else if (atributo == "cedula") { %>
						    	Cédula
					    	<% } else if (atributo == "saldo") { %>
						    	Saldo
					    	<% } else if (atributo == "carnet") { %>
							    Carnet
			                <% } else { %>
							    <%= atributo %>
							<% } %>
		                </label>
		            </td>
		        <% }); %>
	            <td class="columna">
	                <label>
	                    Operación
	                </label>
	            </td>   
	        </tr>
	        <% objetos.each(function(index, elemento) { %>
	            <%== $.View('//'+CONTROLLERS + 'contenido_lateral/views/elemento.ejs', 
	            			{
	            				elemento_render	: 	elemento,
	            				atributos_render:	atributos,
	        					color			:	index
	    					}
	    				   )%>
	        <% }); %>
	    </table>
	    
	<% } else { %>
	    <p> No hay elementos para mostrar </p>
	<% } %>
</div>