<div id="area_boton_ayuda">
    <div class = "boton_accion"
         title='Aquí podras accesar al menu de ayuda de inventario, usalo si tienes alguna duda de esta sección del sistema.'
         onclick="alert('Pon el mouse sobre algun area de la pagina por unos segundos y encontrarás la descripcion de lo que debes ahcer')">
        <label>
            Ayuda
        </label>
    </div>
</div>