/* ------------------------------------------------------------------------------------ */
/* Area de venta */

#area_venta {
    margin-right: 35px;
    float: left;
    width: 310px;
    height:330px;
}

div.Compras {
    float: left;
    min-width: 30%;
    max-height: 316px;
    overflow:auto;
    overflow-x:hidden;
}

div.Compras table{
    width: 310px;
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(top,  #45484d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    padding: 2px 5px 0 5px;
    border: 2px solid #424242;
    -moz-border-radius:6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

}


/* ------------------------------------------------------------------------------------ */
/* Area de botones inferiores */
#area_botones_bottom {
    float:right;
    margin: 8px 0px 8px 0px;
    padding-top: 4px;
    width: 100%;
    min-width: 1000px;
    height:50px;
    background-color: #000000;
    -moz-border-radius:8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

/* ------------------------------------------------------------------------------------ */
/* Area del boton de vender */

#area_boton_vender {
    float:right;
    width: 510px;
    height:50px;
}

#resumen_compra {
    float: none;
    height: 50px;
    width: 100%;
}

#resumen_compra div {
    line-height: 100%;
    float: right;
    margin: 0px 5px 0px 30px;
    font-size: 20px;
    font-weight: bold;
}

#resumen_compra div.resumen_resumen label {
    margin: 0px 2px;
}

#resumen_compra div.resumen_resumen #resumen_total {
    font-size: 40px;
    line-height: 100%;
}

/* ------------------------------------------------------------------------------------ */
/* Area del boton de Ayuda */

#area_boton_ayuda {
    float:left;
    width: 100px;
    height:50px;
    color: #FFFFFF;
}