/* ------------------------------------------------------------------------------------ */
/* Area de botones inferiores */
#area_botones_bottom {
    float:right;
    margin: 8px 0px 8px 0px;
    padding-top: 4px;
    width: 100%;
    min-width: 1000px;
    height:50px;
    background-color: #000000;
    -moz-border-radius:8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

#carritos {
    float :left;
    width : 30%;
    margin-right: 35px;
}

/* ------------------------------------------------------------------------------------ */
/* Area del boton de vender */

#area_boton_vender {
    float:right;
    width: 510px;
    height:50px;
}

#resumen_compra {
    float: none;
    height: 50px;
    width: 100%;
}

#resumen_compra div {
    line-height: 100%;
    float: right;
    margin: 0px 5px 0px 30px;
    font-size: 20px;
    font-weight: bold;
}

#resumen_compra div.resumen_resumen label {
    margin: 0px 2px;
}

#resumen_compra div.resumen_resumen #resumen_total {
    font-size: 40px;
    line-height: 100%;
}

/* ------------------------------------------------------------------------------------ */
/* Area del boton de Ayuda */

#area_boton_ayuda {
    float:left;
    width: 100px;
    height:50px;
    color: #FFFFFF;
}