<tr <%= this %> >
    <td>
        <button>Pagar</button>
    </td>

    <td>
        <%= nombre %>
    </td>

    <td>
        <%= pedido %>
    </td>

    <td class='precio'>
        <%= precio %> Bsf.
    </td>
</tr>