<table class = "deudas"
     title ='Esta lista contiene los productos que debe el cliente actual.
Uso:
- Cada linea indica el producto que se debe, la cantidad de unidades y el precio unitario.
- Se puede pagar un producto haciendo click en el boton de pagar. Cada vez que le de a Pagar resta solo una unidad.'>
    <thead>
        <tr>
            <th>Pagar</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
    </thead>

    <tbody></tbody>
</table>
<a href="javascript://">Pagar Todo</a>