<div id="panel_izquierdo_wrapper">
    
    <div id="panel_izquierdo">
        
        <div class="subvista">Lista de productos</div>
        
        <div class="subpanel"
    		 title='Area para agregar un nuevo movimiento de caja al sistema.
Uso:
- Rellena los datos del formulario.
- Si los datos no son validos no se efectuara el registro de este movimiento.'>
			<div id="sub_panel_producto_nuevo"> </div>
		</div>
		
		<div class="boton_subvista"
		     title='Aumenta la cantidad de determinado producto dentro del sistema.'>
		    <label>Añadir compra de inventario</label>
		</div>
		
		<div class="boton_subvista"
		     title='Modifica el precio de un producto dentro del sistema.'>
		    <label>Modificar precio</label>
		</div>
    
    </div>
    
</div>

<div id="area_listado"
     title='Estos son todos los productos del sistema de ventas almacenados actualmente.'>
</div>

<div id="area_boton_ayuda">
    <div class = "boton_accion"
         title='Aquí podras accesar al menu de ayuda de inventario, usalo si tienes alguna duda de esta sección del sistema.'>
        <label>
            Ayuda
        </label>
    </div>
</div>