/* ------------------------------------------------------------------------------------ */
/* Area de top de ventas */

#top_ventas {
    margin     : 0px auto;
    width      : 1000px;
    height     : 114px;
    padding-top: 1px;
    position   : relative;
}

.MasVendidos {
    clear     : both;
    margin    : 0px auto 10px auto;
    text-align: center;
}


.ListaProductosHorizontal {
    text-align: center;
    margin    : 3px auto;
}

.ListaProductosHorizontal .producto {
    display  : inline-block;
    margin   : 0px 5px;
    padding  : 2px 2px;
    max-width: 72px;
    min-width: 65px;
    height   : 100px;
    overflow : hidden;
}

.ListaProductosHorizontal .producto label {
    white-space: nowrap;
    overflow-x : hidden;
}