<!-- Recibe:  -->
<!-- titulo 		- Corresponde a la descripcion que se usara para el texto -->
<!-- name_id 		- Corresponde al name del campo de texto -->
<!-- tam_campo 		- Corresponde al tamano del texto -->
<!-- validaciones 	- Es el arreglo de todas la validaciones que se hacen al campo -->
<tr>
    <td>
    	<label>
    		<%=titulo%>
		</label>
	</td>
    <td>
    	<input type="text" name="<%=name_id%>"/> 
	</td>
</tr>           