<!doctype html>
{% load i18n %}
{% load url from future %}
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues. More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Sistema de Ventas - {% block titulo %}{% endblock %}</title>
  <meta name="description" content="Sistema de ventas para la Universidad Simon Bolivar, Diseñado por el Centro de Estudiantes de Ingeniería de la Computación 2011-2012, ir a /humans.txt para mayor información."></meta>

  <link rel="icon" href="{{ STATIC_URL }}favicon.ico" /> 
  
  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">
  
  {% block head %}{% endblock %}
</head>
<body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6. chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

  <div id="wrapper">

      <!-- Begin #header -->
      <div id="contenedor_header">
          {% block header %}
          <div id="header">
              <div id="logo">
                  <div id="logo_carrera">
                      <img src="/templates/SistemaVentas/images/irroba.png" alt="logo" width="98" height="100">
                  </div>
                  <h1>Sistema de Ventas</h1>
                  <label id="user_profile"></label>
              </div>
              <div id="menu">
                  {% block menu %}
                  {% endblock menu %}
              </div>
          </div>
          {% endblock header %}
      </div>
      <!-- end #header -->
      
      
      <!-- Begin #page -->
      <div id="page">
          {% block contenido %}

          {% endblock contenido %}
      </div>
      <!-- end #page -->

  </div>


  <!-- Begin #footer -->
  <div id="contenedor_footer">
      <div id="footer">
          <p>Diseñado y Desarrollado por <a href="http://ceic.fceusb.org/">Centro de Estudiantes de Ingeniería de la Computación</a>. Todos los derechos reservados.</p>
      </div>
  </div>
  <!-- end #footer -->
  
  {% block js %}
  {% endblock %}
</body>
</html>