<label class="titulo">
	<%= titulo_subsr %> 
</label>

<form enctype="multipart/form-data" method="post" id="<%= formulario_id %>" action="<%= titulo_action %>">
    
    <div class="boton_amarillo"
		 title='Al hacer click aquí se generara la operación.'>
	    <label>Realizar</label>
    </div>
    
</form>