<table class = "compras"
     title ='Esta lista contiene los productos de la venta actual.
Uso:
- Se agrega algun producto desde la lista de productos mas buscados o desde el area de busqueda de productos.
- Cada linea indica el producto a vender, la cantidad de unidades y el precio unitario.
- Se puede borrar un producto haciendo click en el boton de borrar.
- Se puede cambiar la cantidad de productos a vender cambiando el numero en el campo de texto.'>
    
    <tr>
        <th>Borrar</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio</th>
    </tr>
</table>
<a href="javascript://">Limpiar</a>