<tr <%= this %> >
    <td>
        <button>Borrar</button>
    </td>

    <td>
        <%= nombre %>
    </td>

    <td>
        <input type='text' size='1' value='<%= pedido %>' />
    </td>

    <td class='precio'>
        <%= precio %> Bsf.
    </td>
</tr>