<%# Recibe una lista de productos %>
<% if(this.length > 0) { %>
    <table>
        <tr>
            <td class="columna_imagen">
                <label>
                    Imagen
                </label>
            </td>            
            <td class="columna_nombre">
                <label>
                    Nombre
                </label>
            </td>
            <td class="columna_proveedor">
                <label>
                    Proveedor
                </label>
            </td>
            <td class="columna">
                <label>
                    Cantidad
                </label>
            </td>
            <td class="columna">
                <label>
                    Precio
                </label>
            </td>
            <td class="columna">
                <label>
                    Operación
                </label>
            </td>   
        </tr>
        <% this.each(function(index, producto) { %>
            <%== $.View('//'+CONTROLLERS + 'inventario/listado_productos/views/producto.ejs', producto )%>
        <% }); %>
    </table>
    
<% } else { %>
    <p> No hay productos para mostrar </p>
<% } %>